extends ../../../node_modules/hexo-theme-butterfly/layout/includes/layout.pug

block content
  #custom-widgets
    include ../../../source/_partial/includes/poetry-widget.pug
    include ../../../source/_partial/includes/history-today.pug
  include ./includes/mixins/indexPostUI.pug
  +indexPostUI
