extends includes/layout.pug

block content
  #custom-widgets
    include ../../../hexo-bot/refresh-cache/poetry-widget.pug
    include ../../../hexo-bot/refresh-cache/history-today.pug
  include ./includes/mixins/indexPostUI.pug
  +indexPostUI
