extends includes/layout.pug

block home-widgets
  #custom-widgets
    include poetry-widget.pug
    include history-today.pug

block content
  include ./includes/mixins/indexPostUI.pug
  +indexPostUI
