extends includes/layout.pug

block home-widgets
  #custom-widgets
    //-七彩按钮，彩虹色支持暗色模式）
    #news-shortcut-card
      .btn-row
        a.news-btn.news-btn-0(href="/yedu/") 🏠 十点夜读
        a.news-btn.news-btn-1(href="/news/") 📺 新闻速递
        a.news-btn.news-btn-2(href="/video/") 🎬 超级播霸
        a.news-btn.news-btn-3(href="/xls2print/") 📊 Excel打印
    include poetry-widget.pug
    include history-today.pug

block content
  include ./includes/mixins/indexPostUI.pug
  +indexPostUI
